table, td{
	font-family: sans-serif;
	border-collapse: collapse;
	border: 1px solid grey;
	padding: 13px;
	margin-top: 30px;
}

th{
	text-align: center;
	background-color: lightgrey;
}

.rahmen{
	width: 80%;
	margin: auto;
	
}

td:nth-child(2){
	text-align: center;
	font-family: Courier New, monospace;
	color: green;
}

{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}	

