
@font-face {
font-family : "'Cinzel Decorative'";
font-style : normal;
font-weight : 700;
src : local('Cinzel Decorative Bold'), local('CinzelDecorative-Bold'), url(http://themes.googleusercontent.com/static/fonts/cinzeldecorative/v1/pXhIVnhFtL_B9Vb1wq2F9wIh9oxuYcmvOvyh_107lQs.ttf) format('truetype');
}
@font-face {
{
font-family : "'Montserrat Subrayada'";
font-style : normal;
font-weight : 400;
src : local('MontserratSubrayada-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserratsubrayada/v1/nzoCWCz0e9c7Mr2Gl8bbgmKug4NwxLoXRUZJcef-dI0.ttf) format('truetype');
}
}
@font-face {
{
font-family : "'Titillium Web'";
font-style : normal;
font-weight : 600;
src : local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wpr4e2tK5W43RXgBRKkM4A5Qg.ttf) format('truetype');
}
}
@font-face {
{
font-family : "'Titillium Web'";
font-style : normal;
font-weight : 700;
src : local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wprzsSLeNQG2cy_mKit6iEdYs.ttf) format('truetype');
}
}
@font-face {
{
font-family : '"'Montserrat Subrayada'"';
font-weight : 700;
src : local('Montserrat Subrayada'), url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada:700);
}
}


table{
	
	border-collapse: collapse;
	margin-top: 50px;
	
}

th{
	font-family: 'Cinzel Decorative', cursive;
	
	text-align: center;
	background-color: rgba(230,230,230,0.7);
	padding: 15px;
	
}



.rahmen{
	width: 80%;
	margin: auto;
	/*background: whitesmoke;*/
	
}

td:nth-child(2){
	text-align: center;
	color: green;
	font-family: 'Courier', monospace;
	font-weight: bold;
}

tbody {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
}

td {
	border-bottom: 1px dotted grey;
	padding: 13px;
	color: white;
	
	}
body{
	background-image: url('../pic/aDSC_0420.JPG');
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	
}

#valx {
	position: fixed;
	left: 10px;
	top: 83px;
}

#valc{
	position: fixed;
	left:10px;
	top: 125px;
}

caption{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 1.7em;
	padding: 7px;
	color: #ffcc33;
	
}


td:nth-child(4), td:nth-child(5){
	text-align: center;
}


