table{
	
	border-collapse: collapse;
	margin-top: 50px;
	
}

th{
	font-family: 'Sanchez', serif;
	font-weight: 400;
	text-align: center;
	background-color: rgba(230,230,230,0.5);
	padding: 7px;
	
}



.rahmen{
	width: 80%;
	margin: auto;
	//background: whitesmoke;
	
}

td:nth-child(2){
	text-align: center;
	color: green;
	font-family: Courier, monospace;
}

tbody {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 600;
}

td {
	border-bottom: 1px dotted grey;
	padding: 13px;
	color: white;
	
	}
body{
	background-image: url('../pic/aDSC_0420.JPG');
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	
}

#valx {
	position: fixed;
	left: 10px;
	top: 50px;
}

#valc{
	position: fixed;
	left:10px;
	top: 100px;
}

caption{
	padding: 7px;
	color: #66ff66;
}


td:nth-child(4), td:nth-child(5){
	text-align: center;
}

{}
{}
{}
{}	

